HELP.md
.gradle
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
.build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
mysql_data/auto.cnf
*.sock
/mysql_data/
*.dblwr
mysql_data/\#ib_16384_1.dblwr
mysql_data/\#innodb_redo/\#ib_redo11_tmp
mysql_data/\#innodb_redo/\#ib_redo12_tmp
mysql_data/\#innodb_redo/\#ib_redo13_tmp
mysql_data/\#innodb_redo/\#ib_redo14_tmp
mysql_data/\#innodb_redo/\#ib_redo15_tmp
mysql_data/\#innodb_redo/\#ib_redo16_tmp
mysql_data/\#innodb_redo/\#ib_redo17_tmp
mysql_data/\#innodb_redo/\#ib_redo18_tmp
mysql_data/\#innodb_redo/\#ib_redo19_tmp
mysql_data/\#innodb_redo/\#ib_redo20_tmp
mysql_data/\#innodb_redo/\#ib_redo21_tmp
mysql_data/\#innodb_redo/\#ib_redo22_tmp
mysql_data/\#innodb_redo/\#ib_redo23_tmp
mysql_data/\#innodb_redo/\#ib_redo24_tmp
mysql_data/\#innodb_redo/\#ib_redo25_tmp
mysql_data/\#innodb_redo/\#ib_redo26_tmp
mysql_data/\#innodb_redo/\#ib_redo27_tmp
mysql_data/\#innodb_redo/\#ib_redo28_tmp
mysql_data/\#innodb_redo/\#ib_redo29_tmp
mysql_data/\#innodb_redo/\#ib_redo30_tmp
mysql_data/\#innodb_redo/\#ib_redo31_tmp
mysql_data/\#innodb_redo/\#ib_redo32_tmp
mysql_data/\#innodb_redo/\#ib_redo33_tmp
mysql_data/\#innodb_redo/\#ib_redo34_tmp
mysql_data/\#innodb_redo/\#ib_redo35_tmp
mysql_data/\#innodb_redo/\#ib_redo36_tmp
mysql_data/\#innodb_redo/\#ib_redo37_tmp
mysql_data/\#innodb_redo/\#ib_redo38_tmp
mysql_data/\#innodb_redo/\#ib_redo39_tmp
mysql_data/\#innodb_redo/\#ib_redo40_tmp
mysql_data/binlog.000001
mysql_data/binlog.000002
mysql_data/binlog.000003
mysql_data/binlog.000005
mysql_data/binlog.000008
mysql_data/binlog.000009
mysql_data/binlog.000018
mysql_data/binlog.000019
mysql_data/binlog.index
mysql_data/ca-key.pem
mysql_data/ca.pem
mysql_data/client-cert.pem
mysql_data/client-key.pem
mysql_data/ib_buffer_pool
mysql_data/ibdata1
mysql_data/mysql.ibd
mysql_data/mysql/general_log.CSM
mysql_data/mysql/general_log.CSV
mysql_data/mysql/general_log_213.sdi
mysql_data/mysql/slow_log.CSM
mysql_data/mysql/slow_log.CSV
mysql_data/mysql/slow_log_214.sdi
mysql_data/performance_schema/accounts_145.sdi
mysql_data/performance_schema/binary_log_trans_189.sdi
mysql_data/performance_schema/cond_instances_82.sdi
mysql_data/performance_schema/data_lock_waits_161.sdi
mysql_data/performance_schema/data_locks_160.sdi
mysql_data/performance_schema/error_log_83.sdi
mysql_data/performance_schema/events_errors_su_139.sdi
mysql_data/performance_schema/events_errors_su_140.sdi
mysql_data/performance_schema/events_errors_su_141.sdi
mysql_data/performance_schema/events_errors_su_142.sdi
mysql_data/performance_schema/events_errors_su_143.sdi
mysql_data/performance_schema/events_stages_cu_111.sdi
mysql_data/performance_schema/events_stages_hi_112.sdi
mysql_data/performance_schema/events_stages_hi_113.sdi
mysql_data/performance_schema/events_stages_su_114.sdi
mysql_data/performance_schema/events_stages_su_115.sdi
mysql_data/performance_schema/events_stages_su_116.sdi
mysql_data/performance_schema/events_stages_su_117.sdi
mysql_data/performance_schema/events_stages_su_118.sdi
mysql_data/performance_schema/events_statement_119.sdi
mysql_data/performance_schema/events_statement_120.sdi
mysql_data/performance_schema/events_statement_121.sdi
mysql_data/performance_schema/events_statement_122.sdi
mysql_data/performance_schema/events_statement_123.sdi
mysql_data/performance_schema/events_statement_124.sdi
mysql_data/performance_schema/events_statement_125.sdi
mysql_data/performance_schema/events_statement_126.sdi
mysql_data/performance_schema/events_statement_127.sdi
mysql_data/performance_schema/events_statement_128.sdi
mysql_data/performance_schema/events_statement_129.sdi
mysql_data/performance_schema/events_statement_130.sdi
mysql_data/performance_schema/events_transacti_131.sdi
mysql_data/performance_schema/events_transacti_132.sdi
mysql_data/performance_schema/events_transacti_133.sdi
mysql_data/performance_schema/events_transacti_134.sdi
mysql_data/performance_schema/events_transacti_135.sdi
mysql_data/performance_schema/events_transacti_136.sdi
mysql_data/performance_schema/events_transacti_137.sdi
mysql_data/performance_schema/events_transacti_138.sdi
mysql_data/performance_schema/events_waits_cur_84.sdi
mysql_data/performance_schema/events_waits_his_85.sdi
mysql_data/performance_schema/events_waits_his_86.sdi
mysql_data/performance_schema/events_waits_sum_87.sdi
mysql_data/performance_schema/events_waits_sum_88.sdi
mysql_data/performance_schema/events_waits_sum_89.sdi
mysql_data/performance_schema/events_waits_sum_90.sdi
mysql_data/performance_schema/events_waits_sum_91.sdi
mysql_data/performance_schema/events_waits_sum_92.sdi
mysql_data/performance_schema/file_instances_93.sdi
mysql_data/performance_schema/file_summary_by__94.sdi
mysql_data/performance_schema/file_summary_by__95.sdi
mysql_data/performance_schema/global_status_181.sdi
mysql_data/performance_schema/global_variables_184.sdi
mysql_data/performance_schema/host_cache_96.sdi
mysql_data/performance_schema/hosts_146.sdi
mysql_data/performance_schema/keyring_componen_191.sdi
mysql_data/performance_schema/keyring_keys_152.sdi
mysql_data/performance_schema/log_status_174.sdi
mysql_data/performance_schema/memory_summary_b_154.sdi
mysql_data/performance_schema/memory_summary_b_155.sdi
mysql_data/performance_schema/memory_summary_b_156.sdi
mysql_data/performance_schema/memory_summary_b_157.sdi
mysql_data/performance_schema/memory_summary_g_153.sdi
mysql_data/performance_schema/metadata_locks_159.sdi
mysql_data/performance_schema/mutex_instances_97.sdi
mysql_data/performance_schema/objects_summary__98.sdi
mysql_data/performance_schema/performance_time_99.sdi
mysql_data/performance_schema/persisted_variab_187.sdi
mysql_data/performance_schema/prepared_stateme_175.sdi
mysql_data/performance_schema/processlist_100.sdi
mysql_data/performance_schema/replication_appl_165.sdi
mysql_data/performance_schema/replication_appl_166.sdi
mysql_data/performance_schema/replication_appl_167.sdi
mysql_data/performance_schema/replication_appl_168.sdi
mysql_data/performance_schema/replication_appl_170.sdi
mysql_data/performance_schema/replication_appl_171.sdi
mysql_data/performance_schema/replication_asyn_172.sdi
mysql_data/performance_schema/replication_asyn_173.sdi
mysql_data/performance_schema/replication_conn_162.sdi
mysql_data/performance_schema/replication_conn_164.sdi
mysql_data/performance_schema/replication_grou_163.sdi
mysql_data/performance_schema/replication_grou_169.sdi
mysql_data/performance_schema/rwlock_instances_101.sdi
mysql_data/performance_schema/session_account__151.sdi
mysql_data/performance_schema/session_connect__150.sdi
mysql_data/performance_schema/session_status_182.sdi
mysql_data/performance_schema/session_variable_185.sdi
mysql_data/performance_schema/setup_actors_102.sdi
mysql_data/performance_schema/setup_consumers_103.sdi
mysql_data/performance_schema/setup_instrument_104.sdi
mysql_data/performance_schema/setup_objects_105.sdi
mysql_data/performance_schema/setup_threads_106.sdi
mysql_data/performance_schema/socket_instances_147.sdi
mysql_data/performance_schema/socket_summary_b_148.sdi
mysql_data/performance_schema/socket_summary_b_149.sdi
mysql_data/performance_schema/status_by_accoun_177.sdi
mysql_data/performance_schema/status_by_host_178.sdi
mysql_data/performance_schema/status_by_thread_179.sdi
mysql_data/performance_schema/status_by_user_180.sdi
mysql_data/performance_schema/table_handles_158.sdi
mysql_data/performance_schema/table_io_waits_s_107.sdi
mysql_data/performance_schema/table_io_waits_s_108.sdi
mysql_data/performance_schema/table_lock_waits_109.sdi
mysql_data/performance_schema/threads_110.sdi
mysql_data/performance_schema/tls_channel_stat_190.sdi
mysql_data/performance_schema/user_defined_fun_188.sdi
mysql_data/performance_schema/user_variables_b_176.sdi
mysql_data/performance_schema/users_144.sdi
mysql_data/performance_schema/variables_by_thr_183.sdi
mysql_data/performance_schema/variables_info_186.sdi
mysql_data/private_key.pem
mysql_data/public_key.pem
mysql_data/puntosClientes/beneficio_modelo.ibd
mysql_data/puntosClientes/cliente_beneficio.ibd
mysql_data/puntosClientes/cliente_modelo.ibd
mysql_data/puntosClientes/puntos_modelo.ibd
mysql_data/puntosClientes/transaccion_modelo.ibd
mysql_data/server-cert.pem
mysql_data/server-key.pem
mysql_data/sys/sys_config.ibd
mysql_data/undo_001
